<div class="multiLine highlightHoverMulti level{{sub}}" ng-init="data.showSubMenu = false">
        <div class="c1 f1 m1" style="padding-left:{{ml}}px;" ng-click="data.showSubMenu = !data.showSubMenu">
            <i ng-show="data.showSubMenu == false"  class="tiny material-icons">keyboard_arrow_right</i>
            <i ng-show="data.showSubMenu == true"  class="tiny material-icons">keyboard_arrow_down</i>
            {{data.propriedade}}
        </div>
        <div class="c2">
            <span class="meta" style="margin-left:calc({{data.target}}% - 12px);" title="{{'meta ' + data.target}}">
                <i ng-class="{metaOk:data.valor >= data.target, metaNao:data.valor < data.target}" class="material-icons" >arrow_drop_down</i>
            </span>
            <progress style="height:{{-(level-3)}}px"  value="{{data.valor}}" max="100"></progress>
        </div>
        <div class="c3">{{data.valor|rounded:2}}</div>
        <div ng-show="data.showSubMenu==true" class="wrapper" ng-repeat="item in data.child.equals({hide:false}) track by $index">
           <single-line ml="ml + 40" meta="meta" sub="sub + 1" level="level-4" data="item" ng-if="item.child == null"></single-line>
           <multi-line ml="ml + 40" meta="meta" sub="sub + 1" level="level-4" data="item" ng-if="item.child != null"></single-line> 
        </div>
</div>