<div class="singleLine level{{sub}} highlightHover" >
    <div class="c1 f1 m1" style="padding-left:{{ml}}px;" >
        <i class="fakeW">&nbsp;</i>
        {{data.propriedade}}
    </div>
    <div class="c2">
        <span class="meta" style="margin-left:calc({{data.target}}% - 12px);" title="{{'meta ' + data.target }}">
            <i ng-class="{metaOk:data.valor >= data.target, metaNao:data.valor < data.target}" class="material-icons" >arrow_drop_down</i>
        </span>
        <progress  style="height:{{level}}px"  value="{{data.valor}}" max="100"></progress>
    </div>
    <div class="c3">{{data.valor}}</div>
</div>